*{
padding: 0;
margin: 0;
}
body{
background-color: green;

}
.wrap{
background-color: lightgreen;
margin-left: 300px;
margin-right: 300px;
height: 100vh;
background-image: -moz-element(img5.png);
}
h1{
border-radius: 360px;
background-color: yellowgreen;
width: 300px;
margin: auto;
}
h1:hover{
    color: white;
   
}

.hi{
background-color: palegreen;
height: 300px;
width: 300px;
margin-right: 20px;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 5px;
border-radius: 360px;
}
.gg{
    display: flex;
    flex-wrap: wrap;
}
p{
background-color: black;
font-size: 30px;
color: yellowgreen;
font-family: cursive;
box-shadow: 0 0 10px 1px rgb(red, green, blue);
border-radius: 360px;
margin-top: 20px;
margin-bottom: 20px;
}
h1{
color: green;

}
img{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 360px;
    margin-bottom:50px;
}

img:hover{
    height: 310px;
    width: 310px;
}
a:hover{
    color: white;
  
}
p{
font-size: 30px;
}
.q{
font-family: fantasy;
margin-left: 50px;
margin-top: 60px;
font-size: 40px;
color: lightskyblue;
}
p:hover{
    color: #eee;  
}


.he{
background-color: yellow;
}
.g{
    font-family: fantasy;
    color: lightskyblue;
    margin-left: 300px;
    margin-top: 60px;
    font-size: 40px;
}
.tt{
    display: flex;
    color: lightskyblue;
}
.uu{
height:20px;
width: 100px;
}

